* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#E3E3E3; 
}

#header {
    background-color: deeppink;
    padding: 20px; 
    margin-bottom: 50px;
}

#claseReservadas thead tr th, 
#claseReservadas tbody tr td {
    margin: 20px 20px 20px 0;
    padding: 10px 20px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(239, 240, 240);
}

/* #footer {
    background-color: deeppink;
} */